<h1>All Posts: </h2>
  <% @posts.each do |post| %>
  <div class="card">
    <div id="title" class="card-block">
      <ul class="row index">
        <li>
          <%= link_to "#{post.title}", post %>
        </li>
        <li class="xdelete"><%= link_to post,
              method: :delete,
              data: { confirm: "Are you sure you want to delete this post?" },
              class: "delete"  do %>
                <i class="fa fa-times" aria-hidden="true"></i>
            <% end %>
        </li>
      </ul>
      <div class="add-comment"><%= link_to "ADD COMMENT", new_comment_path(post_id: post.id) %></div>
    </div>
  </div>
  <% end %>
